<!--<ion-content class="ion-padding">-->
<!--  <div class="tiles-container">-->
<!--    <app-prsi-tile></app-prsi-tile>-->
<!--  </div>-->
<!--</ion-content>-->
<div class="container">
  <div class="dancing-text">
    <span>P</span>
    <span>á</span>
    <span>r</span>
    <span>t</span>
    <span>y</span>
    <!--<span>a</span>-->
    <br/>
    <span>g</span>
    <span>a</span>
    <span>m</span>
    <span>e</span>
    <span>s</span>
    <!--<span>n</span>-->
  </div>

  <div class="tiles-container">
    <app-login></app-login>
    <app-game-list></app-game-list>
    <!--<app-prsi-tile></app-prsi-tile>-->
    <!--<app-drawing-tile></app-drawing-tile>-->
  </div>

</div>
