.title {
  font-size: 20px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  text-align: center;
}

.is-wrong {
  color: red;
}

.is-correct {
  color: green;
}

.option-evaluation {
  width: 50%;
  text-align: center
}

.option-most-images {
  width: 20%;
  text-align: center
}
