<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="gameService.game as game">
    {{game.name}}



    <ion-button *ngIf="game.gameState === gameStates.prepare" (click)="onStartGameClick()">
      Start game
    </ion-button>


    <div *ngIf="game.gameState === gameStates.play || game.gameState === gameStates.roundEvaluation">
      <div class="title">
        {{game.round.title.text}}
      </div>

      <div class="game-state-wrapper">
        {{getGameStateText()}}
      </div>

      <!-- Options -->
      <div class="flex flex-wrap">
        <div *ngFor="let option of game.round.options" style="width: 50%; text-align: center">

          <ion-button (click)="onOptionClick(option)">
            <div style="font-size: 20px">
              {{option.text}}
            </div>
          </ion-button>

        </div>
      </div>

      <!-- Last results -->
      <div>
        Last results:
      </div>
      <div *ngFor="let lastResult of game.lastResults; let i = index">
        {{i+1}}.) {{lastResult.playerName}}: {{lastResult.points}} pts.
      </div>

      <!-- Results -->
      <div class="mt-5">
        Overall results:
      </div>
      <div *ngFor="let result of game.results">
        {{result.playerName}}: {{result.points}} pts.
      </div>
    </div>

    <div class="mt-20">
      {{game | json}}
    </div>

  </div>




</ion-content>
